/* 2. Загальні стилі сторінки */
body {
    max-width: 80em;
    margin: auto;           /* центрування */
    padding: 16px;          /* внутрішні відступи з боків */
    font-family: Arial, sans-serif;
}

/* 3. Стилізація шапки */
header {
    padding-block: 20px;    /* відступи зверху і знизу */
}

/* 4. Загальні відступи між розділами */
section {
    margin: 40px 0;         /* відстань між секціями */
}

/* 4.2 Наші спеціальності */
section#specialties .specialty-cards .card {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #8E8E8E;
}

/* 4.3 Якщо в числах */
section#numbers .number {
    padding: 10px;
    border-right: 1px solid #FF3A3A;
}

/* 4.4 Відгуки від випускників */
section#reviews .review {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #8E8E8E;
}

/* 4.5 Новини */
section#news .news-card {
    vertical-align: top;
    padding: 10px;
    border-right: 1px solid #FF3A3A;
}

/* прибираємо бордер у останньої новинної картки */
section#news .news-card:last-child {
    border-right: none;
}

/* 5. Нижній колонтитул */
footer {
    padding: 40px 0;
}
