$base-padding: 20px;
$primary: #1d1d1d;
$primary-light: #f8f8f8;
$red: #ff3b39;
$red-hover: #ff1a18;
$grey: #7c7c7c;
$silver: #bfbfbf;

:root {
  --primary-color: #{$primary};
  --primary-text-color: #{$primary-light};
  --red-color: #{$red};
  --red-hover-color: #{$red-hover};
  --grey-color: #{$grey};
  --silver-color: #{$silver};
}

[data-theme="light"] {
  --primary-color: #{$primary-light};
  --primary-text-color: #{$primary};
  --red-color: #{$red};
  --red-hover-color: #{$red-hover};
  --grey-color: #{$grey};
  --silver-color: #{$silver};
}

body {
  background: var(--primary-color);
  color: var(--primary-text-color);
  max-width: $widedesk;
  margin: 0 auto;
  padding: 0 $base-padding;
}

a {
  color: var(--red-color);
}