#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 40px 0;
  min-height: 400px;

  .contact-blocks {
    display: grid;
    grid-template-columns: 1fr;  // мобільний
    gap: 20px;
    width: 100%;
    max-width: 900px;
  }

  .contact-item {
    background: #2a2a2a;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
}

/* ПЛАНШЕТ */
@include tablet {
  #contacts {
    .contact-blocks {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
}

/* ЛАПТОП */
@include laptop {
  #contacts {
    .contact-blocks {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  }
}

/* ДЕСКТОП */
@include desktop {
  #contacts {
    .contact-blocks {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }
  }
}
