body {
  background: var(--primary-color);
  color: var(--primary-text-color);
  max-width: $widedesk;
  margin: 0 auto;
  padding: 0 $base-padding;
}

a {
  color: var(--red-color);
}

.button {
  background: var(--red-color);
  color: var(--primary-text-color);
  width: fit-content;
  padding: 7px 14px;
  border-radius: 5px;
  margin: 40px 0;
  border: 1px solid var(--red-color);

  p {
    margin: 0;
  }

  &:hover {
    background: var(--red-hover-color);
    border-color: var(--red-hover-color);
  }

  &:focus {
    background: var(--primary-color);
  }
}
body {
  font-size: 14px;
  line-height: 1.4;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

@media (min-width: 796px) {
  body { font-size: 16px; }

  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 26px; }
  h4 { font-size: 24px; }
  h5 { font-size: 22px; }
  h6 { font-size: 20px; }
}

@media (min-width: 1200px) {
  h1 { font-size: 36px; }
  h2 { font-size: 32px; }
  h3 { font-size: 30px; }
  h4 { font-size: 28px; }
  h5 { font-size: 24px; }
  h6 { font-size: 22px; }
}

