header {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  z-index: 9;

  .logo {
    width: 104px;
  }
  nav {
    width: calc(100% - 292px);
  }
  .search {
    width: 24px;
    margin-left: auto;
  }
  .lang {
    width: 104px;
  }

  nav {
    width: calc(100% - 292px);
    .main-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      font-weight: bold;
      .menu-link {
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .lang {
    width: 104px;
    .lang-wrapper {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      &::before {
        content: "";
        display: block;
        width: 38px;
        height: 24px;
        border-radius: 100px;
        border: 1px solid $white;
        order: 2;
      }
      li {
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
        color: $grey;
        position: relative;
        a {
          text-decoration: none;
          color: $grey;
          display: inline-block;
          font-size: 14px;
          font-weight: bold;
          line-height: 24px;
          &.is-active {
            color: $white;
          }
        }
        &.ua {
          order: 1;
          a {
            &::after {
              content: '';
              display: none;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              background: url("../images/uk.png");
              background-size: 18px 18px;
              position: absolute;
              top: 3px;
              right: -31px;
            }
            &.is-active {
              &::after {
                display: block;
              }
            }
          }
        }
        &.en {
          order: 3;
          a {
            &::before {
              content: '';
              display: none;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              background: url("../images/en.png") no-repeat;
              background-size: 18px 18px;
              position: absolute;
              top: 3px;
              left: -31px;
            }
            &.is-active {
              &::before {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
